<h1>部署一覧・追加</h1>

<div>
  <%= form_with model: [:admin, @department], local:true do |f| %>
   <div>
     <label>部署名</label>
   </div>
   <div>
     <%= f.text_field :name, placeholder: "部署名" %>
   </div>
   <div>
     <%= f.submit '新規登録'%>
   </div>
   <% end %>
</div>

<div>
  <table>
    <thead>
      <tr>
        <th>部署名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= link_to "編集する", edit_admin_department_path(department.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>