<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 top-image"></div>
  </div>
  <h4 class="text-center mt-4 mb-5">
    一日の成果・アイデア・今後のアクションを共有してください。</br>
    Hukaboriで、新鮮な学びを体験しましょう。
  </h4>


  <% if user_signed_in? %>
    <div class="row">
      <div class="btn btn-default mx-auto col-sm-4">
        <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-secondary btn-block' do %>
          <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
        <% end %>
      </div>
    </div>

  <% elsif admin_signed_in? %>
    <div class="row">
      <div class="btn btn-default mx-auto col-sm-4">
        <%= link_to destroy_admin_session_path, method: :delete, class: 'btn btn-secondary btn-block' do %>
          <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
        <% end %>
      </div>
    </div>

  <% else %>
      <div class="row">
        <div class="btn btn-default mx-auto col-sm-4">
          <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-success btn-block' %>
        </div>

      </div>
      <div class="row">
        <div class="btn btn-default mx-auto col-sm-4">
          <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary btn-block' %>
        </div>

      </div>
      <div class="row">
        <div class="btn btn-default mx-auto col-sm-4">
          <%= link_to "【要削除】管理者側ログイン", new_admin_session_path, class: 'btn btn-secondary btn-block'%>
        </div>

      </div>

  <% end %>
  <!--</div>-->
</div>