<h1>管理者側トップ画面です</h1>
<h1>投稿一覧</h1>
<table>
  <thead>
    <tr></tr>
  </thead>
  <tbody>
<% @reports.each do |report| %>
    <tr>
      <td>
        <%= attachment_image_tag report.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
        <%= report.user.last_name + report.user.first_name %><br/>
        <%= report.title %>
      </td>
      <td>
        <%= attachment_image_tag report, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %>
      </td>
      <td>
        <%= %>
      </td>
      <td>
        <%= link_to "詳細へ", admin_report_path(report.id) %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>