<%= render 'layouts/errors', obj: @report %>

<h1>投稿編集</h1>
<%= form_with model: [:admin, @report], local:true do |f| %>
<div>
  <div><%= attachment_image_tag @report, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: "100x100" %></div>

  <p>タイトル：<%= @report.title %></p>
  <p>名前：<%= @report.user.first_name %></p>
  <p>作業内容・成果：<%= @report.content %></p>
  <p>考えたこと・学んだこと：<%= @report.learning %></p>
  <p>今後実施すること：<%= @report.action %></p>
  <p>管理者コメント：<%= @report.admin_comment %></p>
  <h4>管理者コメント</h4>
  <%= f.text_area :admin_comment %>
  <div>
    <%= f.select :status ,options_for_select([['未確認', :checking], ['閲覧可', :publiced], ['非公開', :privated]], selected: @report.status) %>
  </div>

  <%= f.submit "変更を保存" %>
<% end %>
</div>