<h2>検索ページ</h2>

  <%= form_with url:searches_search_path, method: :get, local:true do |f| %>
  <%= f.text_field 'search[value]'%>

  <h4>タグ一覧</h4>
  <% @tag_list.each do |list| %>
    <div>
      <%= f.radio_button :id, list.id %>
      <%= f.label :id, list.name, {value: list.id, style: "display: inline-block;"} %>
    </div>
  <% end %>
  <br/>
  <%= f.submit :"検索" %>
  <% end %>
