<%= render 'layouts/errors', obj: @user %>
<div class="container">
  <h2>ユーザ情報編集</h2>
  <%= form_with model: @user, local:true do |f| %>
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, style: "border-radius:50%", fallback: "no_image.jpg", size: "60x60" %></td>
              <td><%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %></td>
          </tr>
          <tr>
              <div class="field">
                <td>性</td>
                <td><%= f.text_field :last_name %></td>
              </div>
              <div class="field">
                <td>名</td>
                <td><%= f.text_field :first_name %></td>
              </div>
            </tr>
            <tr>
              <div class="field">
                <td>セイ</td>
                <td><%= f.text_field :last_name_kana %></td>
              </div>
              <div class="field">
                <td>メイ</td>
                <td><%= f.text_field :first_name_kana %></td>
              </div>
            </tr>
            <tr>
              <div class="field">
                <td>部署</td>
                <td><%= f.collection_select :department_id, Department.all, :id, :name, include_blank: "選択して下さい" %></td>
              </div>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center">
  　　        <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>

      </div>
    </div>
    <% end %>

</div>