<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', style: "border-radius:50%", fallback: "no_image.jpg", size: "100x100", style: "border-radius:50%" %></div>
      <p><%= @user.last_name + @user.first_name %></p>
      <p><%= @user.department.name %></p>
      <%= link_to reports_bookmark_path(@user.id) do %>
        <p>ブックマーク一覧へ</p>
      <% end %>
      <% if @user == current_user %>
      <div><%= link_to "編集", edit_user_path(@user.id) %></div>
      <% end %>
    </div>


    <div class="col-sm-8">
      <div class="row">
        <%= render 'public/reports/index', reports: @reports %>

      </div>
    </div>


  </div>
</div>
