<header class="border">
  <div class="container">
    <div class="row">

      <div class="col-sm-2">
        <%= link_to root_path do %>
          <%= image_tag('Hukabori_logo.jpg', size: "150x150")%>
        <% end %>
      </div>
      <div class="col-sm-7 align-self-center text-right">
      <% if user_signed_in? %>
        <%= attachment_image_tag current_user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %>
        ようこそ<%= current_user.last_name + current_user.first_name%>さん
      <% end %>
      </div>

      <div class="col-sm-3 align-self-center">
      <% if user_signed_in? %>
        <%= form_with url:searches_search_path, method: :get, local:true do |f| %>
        <%= f.text_field 'search[value]'%>
        <%= f.submit :"検索" %>
        <% end %>
      <% end %>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <% if user_signed_in? %>
          <li class="btn btn-default border ml-4">
            <%= link_to user_path(current_user.id), class: 'btn btn-default nav-link text-dark' do %>
              <i class="fas fa-home mr-1"></i>ホーム
            <% end %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to reports_searchpage_path, class: 'btn btn-default nav-link text-dark' do %>
              <i class="fas fa-search mr-1"></i> 検索
            <% end %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to new_report_path, class: 'btn btn-default nav-link text-dark' do %>
              <i class="fas fa-pen mr-1"></i>新規投稿
            <% end %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to reports_path, class: 'btn btn-default nav-link text-dark' do %>
              <i class="fas fa-book-open mr-1"></i>投稿一覧
            <% end %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to reports_rank_path, class: 'btn btn-default nav-link text-dark' do %>
              <i class="fas fa-signal mr-1"></i>ランキング
            <% end %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-default nav-link text-dark' do %>
              <i class="fas fa-sign-out-alt mr-1"></i>ログアウト
            <% end %>
          </li>

        <% elsif admin_signed_in? %>
          <li class="btn btn-default border ml-4">
            <%= link_to "投稿一覧", admin_root_path, class: 'btn btn-default nav-link text-dark' %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to "社員一覧", admin_users_path, class: 'btn btn-default nav-link text-dark' %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to "部署一覧", admin_departments_path, class: 'btn btn-default nav-link text-dark' %>
          </li>
          <li class="btn btn-default border ml-4">
            分析する
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-default nav-link text-dark' %>
          </li>

        <% else %>
          <li class="btn btn-default border ml-4">
            about
          </li>
          <li class="btn btn-default border ml-4">
            (使い方)
          </li>
          <li class="btn btn-default border ml-4">
            お問い合わせ
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-default nav-link text-dark' %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to "ログイン", new_user_session_path, class: 'btn btn-default nav-link text-dark' %>
          </li>
          <li class="btn btn-default border ml-4">
            <%= link_to "【要削除】管理者側ログイン", new_admin_session_path, class: 'btn btn-default nav-link text-dark'%>
          </li>
        <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>